@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models;
@model LibraryCatalog.Models.Patron

<h2>Patron Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.PatronName): @Html.DisplayFor(model => model.PatronName)</h3>

@if(@Model.Copies.Count == 0)
{
  <p>This Patron has no Books checked out.</p>
}
<br> 
<h4>Checked Out Books:</h4>
  @foreach(var join in Model.Copies)
  {
    @using (Html.BeginForm("DeleteCopy", "Copies"))
    {
      @Html.Hidden("joinId", @join.CheckoutId) <input type="submit" value="Delete"/>
    }
  }
}