@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models
@model List<LibraryCatalog.Models.Book>
  

<h2>Books</h2>

@if (@Model.Count == 0)
{
  <h3><i>There are no Books in the Database at this time.</i></h3>
}
else
{
  <ul>
    @foreach (Book book in Model)
    {
      <li>@Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId })</li>
    }
  </ul>
} 

@Html.ActionLink("Add new book", "Create", null, new { @class = "btn btn-dark"})